<div class="container" style="padding: 10px; align-self: center">
  <div
    class="jumbotron"
    style="
      background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29yayUyMGRlc2t8ZW58MHx8MHx8&w=1000&q=80);
      margin-top: 30px;
      padding: 150px;
      height: 500px;
    "
  >
    <h5 class="homepage-h5">Hello !</h5>
    <h2 class="nametag-h2">I'm <span class="name">Lokesvaran</span></h2>
    <h3 class="homepage-h3">Full stack web developer</h3>
    <button class="btn btn-primary btn-sm" (click)="gotoAbout()">
      Check My Profile
    </button>
  </div>
</div>
