.jumbotron {
    background-size: 100%;
}

.homepage-h5{
    font-size: 15px;
}

.nametag-h2 .name{
    color: rgb(218, 158, 7);
}

.nametag-h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}

.homepage-h3{
    padding-left: 150px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.btn{
    margin-left: 220px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(218, 158, 7);
}

