<div class="container">
  <h2 style="margin-top: 50px">Contact</h2>
  <hr />
  <div class="row">
    <div class="col border">
      <div class="boxcontainer">
        <h5>
          <span>
            <img
              src="https://cdn-icons-png.flaticon.com/128/15/15914.png"
              alt="phoneicon"
            />
          </span>
          +91 9999999999
        </h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ut.
        </p>
        <br />
        <h5>
          <span>
            <img
              src="https://cdn-icons-png.flaticon.com/128/3203/3203071.png"
              alt="addressicon"
            />
          </span>
          San Francisco
        </h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ut.
        </p>
        <br />
        <h5>
          <span>
            <img
              src="https://cdn-icons-png.flaticon.com/128/2099/2099199.png"
              alt="emailicon"
            />
          </span>
          xyz@example.com
        </h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ut.
        </p>
        <br />
      </div>
    </div>
    <div class="col border">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name"
          />
          <label for="exampleFormControlInput1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
          <label for="exampleFormControlInput1">Subject</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="subject"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <button class="btn btn-primary">Send Message</button>
      </form>
    </div>
  </div>
</div>
